.inicio { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 0px 30px 0px;
    align-items: center;
}

.inicio-bg {
  background: linear-gradient(to left, var(--cor-3) 30%, var(--cor-2) 0%);
  margin-top: 30px;
}

.inicio-h1{
  padding-bottom: 15px;
}

@media (max-width: 1265px) {
  .container,
  .patinetes-bg  {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1100px) {
  .inicio-texto {
    font: 400 1rem/1.5 "Work Sans", sans-serif;
}
  .inicio-h1{
  padding-bottom: 20px;
  }
  
  .inicio-bg {
    margin-bottom: 30px;
  }
  .inicio {
    align-items: center;
  }
}

@media (max-width: 900px) {
  .inicio-h1{
    padding-bottom: 5px;
    gap: 0px;
  }
  .inicio-bg h1 {
    font-size: 2.75rem;;
  }
}  
 
@media (max-width: 700px) {
  .inicio {
    grid-template-columns: 1fr;
    padding-top: 10px ;
  }
  .inicio-bg {
    background: linear-gradient(to top, var(--cor-3) 20%, var(--cor-2) 50%);
    margin-top: 0%;
  }
  .inicio-h1,
  .inicio-texto {
    text-align: center;
  }
  .inicio-h1 { 
    padding-bottom: 10px;
  }
  .urbano-inicio img {
    justify-self: center;
  }
}
