.botao {
    background-image: linear-gradient(to bottom right, #f84c21bd, #ffc62bb9);
    /*background-color: var(--cor-8);*/
    padding: 4px 20px;
    border-radius: 4px;
    max-width: max-content;
    align-self: end;
    justify-self: right;
    text-transform: uppercase;
}