.container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.inicio { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  justify-self: center;
}

.inicio-titulo {
  margin-top: 40px;
}

.inicio-texto {
  margin-top: 40px;
}

