.container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.inicio { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  justify-self: center;
  margin-top: 40px;
  
}

.inicio-titulo {
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .inicio{
    grid-template-columns: 1fr;
  
  }
  .inicio-titulo h1 {
    font-size: 2.5rem;
  }
  .inicio-titulo {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}