:root {
  --cor-1c: #f6faed;
  --cor-2c: #000000;
  --cor-3c: #2651A6;
  --cor-4c: #195973;
  --cor-5c: #477332;
  --cor-6c: #2f402467;
  --cor-7c: #C1D98F;
}
/* PESQUISAR CORES NO ADOBE COLOR EM TONS DE MARROM E O LARANJA PARA O CONTRASTE
AMARELO E CINZA*/
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}