:root {
  --cor-1: #ffffff;
  --cor-2: #7e7e7e3a;
  --cor-3: #f5f5f5;
  --cor-4: #00030C;
  --cor-5: #f84c21bd;
  --cor-6: #ffc62bb9;

  }
  /*#f6faed; #477332;#73dda8;#b2c7bc;#242020;#f5f5f5;#b2c7bcd7;#c4eccb;#00030C- preto #0f2915-verde --cor-7: #192401;verde*/


/* PESQUISAR CORES NO ADOBE COLOR EM TONS DE MARROM E O LARANJA PARA O CONTRASTE
AMARELO E CINZA*/
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}