/*html {
    font-family: Arial, Helvetica, sans-serif;
}*/
      /* FONT WORK SANS */

.font-w-p {
  font: 400 1rem/1.5 "Work Sans", sans-serif;
} 
.font-w-b {
  font: 600 1.5rem/1.5 "Work Sans", sans-serif;;
}
.font-w-m {
  font: 500 1.125rem/1.35 "Work Sans", sans-serif;
}
.font-w-l {
  font: 600 3.75rem/1.125 "Work Sans";}

.grande {
  padding: 300px;
}


