.formulario {
    font-family: "Work Sans", sans-serif; 
    padding-bottom: 100px;
    background: linear-gradient(to top, var(--cor-3) 35%, var(--cor-2) 40%);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--cor-2);
    gap: 20px;
    justify-self: center;
    width: 100%;
    max-width: 35rem;
    border-radius: 4px;
    padding: 30px;
  
}

.form .col-2 {
    grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea,
.form button{
    border: 1px solid var(--cor-2);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    cursor: pointer;
}

input, 
textarea,
label,
button{
    font-family: "Work Sans", sans-serif;
    display: block;
}

textarea{
    min-height: 8rem;
    resize: vertical;
}



