.footer-bg {
    background-color: var(--cor-4);
    width: 100%;
    margin-top: auto;
}
  
.footer { 
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.footer li {
    margin-bottom: 1rem;
}

.footer li:last-child {
    margin-bottom: 0px;
}
  
.logo-footer {
    height: 39px;
    width: 137px;
}

.footer-copy {
    margin-bottom: 20px;
}
  

  