li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  height: 100%;
}

body {
  background-color: var(--cor-1c);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul,
li,
p,
dd{
  margin: 0%;
}

h1 {
  letter-spacing: 0rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

