.header-bg {
  background-color: var(--cor-4d);
  box-shadow: 0px 0.7px 5px #1f2212;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header-logo img {
  margin-left: 20px;
  height: 39px;
  max-width: 100%;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-nav a {
  max-width: max-content;
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  margin-right: 20px;
  background-color: var(--cor-6b);
  border: 0px;
}
